@import url(../styles/main.css);

:root{
    /* Dark mode */
    --backgroundColorDark: var(--darkGray);
    --textColorDark:var(--blueishWhite);
    --contentBackgroundColorDark: var(--blueishDarkGray);

    /* Light mode */
    --backgroundColorLight: var(--blueishWhite);
    --textColorLight:var(--darkGray);
    --contentBackgroundColorLight: var(--blueishWhite);

    /* Main colors */

    --mainColor: var(--blueishWhite);
    --textColor: var(--textColorDark);
    --backgroundColor: var(--backgroundColorDark);
    --contentBackgroundColor: var(--contentBackgroundColorDark);
}

/* Override header */

.homepageHeaderLink:hover{
    background-color: var(--homepage);
    color: var(--mainColor);
}

.techHeaderLink:hover{
    background-color: var(--blueishDarkGray);
    color: var(--tech);
}

.newsHeaderLink:hover{
    background-color: var(--blueishDarkGray);
    color: var(--news);
}

.gamesHeaderLink:hover{
    background-color: var(--blueishDarkGray);
    color: var(--games);
}

.learnHeaderLink:hover{
    background-color: var(--blueishDarkGray);
    color: var(--learn);
}

.aboutHeaderLink:hover{
    background-color: var(--blueishDarkGray);
    color: var(--personal);
}