@import url(../styles/main.css);

:root{
    /* Dark mode */
    --backgroundColorDark: var(--darkGray);
    --textColorDark:var(--blueishWhite);
    --contentBackgroundColorDark: var(--blueishDarkGray);

    /* Light mode */
    --backgroundColorLight: var(--blueishWhite);
    --textColorLight:var(--darkGray);
    --contentBackgroundColorLight: var(--blueishWhite);

    /* Main colors */

    --mainColor: var(--personal);
    --textColor: var(--textColorDark);
    --backgroundColor: var(--backgroundColorDark);
    --contentBackgroundColor: var(--contentBackgroundColorDark);
}