body{
    background-color: rgb(20, 22, 24);
    margin: 0;
}


/* Header Begins */
.header{
    background-color: rgb(255,255,255);
    display: flex;
    align-items: center;
}

.headerLink{
    background-color: rgb(16, 217, 63);
    color: rgb(30, 34, 36);
    height: 60px;
    width: 250px;
    text-decoration: none;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerLink:hover{
    cursor: pointer;
    background-color: rgb(30, 34, 36);
    font-weight: bolder;
    color: rgb(16, 217, 63);
}

.headerElement {
    display: inline-block;
    text-align: center;
    width: 100px;
    color: rgb(20, 22, 24);
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    font-weight: 600;
    padding: 0 30px 0 30px;
    margin: 0;
    border: 0;
    text-decoration: none;
}

.headerElement:hover{
    color: rgb(217, 16, 63);
    cursor: pointer;
}

#headerElementVideos:hover{
    color: rgb(255, 0, 0);
}

#headerElementNews:hover{
    color: rgb(217, 16, 63);
}

#headerElementGames:hover{
    color: rgb(240, 210, 100);
}

#headerElementLearn:hover{
    color: rgb(100, 210, 255);
}

#headerElementAbout:hover{
    color: rgb(16, 217, 63);
}
/* Header Ends */
