@import url(../styles/main.css);

:root{
    /* Dark mode */
    --backgroundColorDark: var(--darkGray);
    --textColorDark:var(--blueishWhite);
    --contentBackgroundColorDark: var(--blueishDarkGray);

    /* Light mode */
    --backgroundColorLight: var(--blueishWhite);
    --textColorLight:var(--darkGray);
    --contentBackgroundColorLight: var(--blueishWhite);

    /* Main colors */

    --mainColor: var(--learn);
    --textColor: var(--blueishWhite);
    --backgroundColor: var(--backgroundColorDark);
    --contentBackgroundColor: var(--contentBackgroundColorDark);
}

/* Override WIP Message */
.WIPMessage{
    padding: 0;
}

/* Courses Resources */

.content{
    padding: 5%;
}
.courseCard{
    margin: 25px 0;
    background-color: var(--homepage);
    padding: 15px 30px;
}

.cardTitle{
    margin-bottom: 15px;
}

.cardDetails{
    display: flex;
    gap: 20px;
}