:root{
    /* Colors palette */
    --darkGray: rgb(11, 13, 15);
    --blueishDarkGray: rgb(25, 29, 33);
    --blueishWhite: rgb(250, 250, 255);
    --aRed: #d9103f;
    --gYellow: #f6e24b;
    --lBlue: #3fd9ef;
    --pGreen: #10d93f;


    /* Dark mode */
    --backgroundColorDark: var(--darkGray);
    --textColorDark:var(--blueishWhite);
    --contentBackgroundColorDark: var(--blueishDarkGray);

    /* Light mode */
    --backgroundColorLight: var(--blueishWhite);
    --textColorLight:var(--darkGray);
    --contentBackgroundColorLight: var(--blueishWhite);

    /* Main colors */

    --mainColor: var(--aRed);
    --textColor: var(--textColorDark);
    --backgroundColor: var(--backgroundColorDark);
    --contentBackgroundColor: var(--contentBackgroundColorDark);
}

*{
    margin: 0;
    padding: 0;
}

/* Body */

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--backgroundColor);
    color: var(--textColor);
    margin: 0;
}

p, h3, h4, .sourceLink:link, .sourceLink:visited, ul{
    display: block;
    width: 85%;
    margin: 10px auto 25px auto;
    text-align: justify;
}

a:link{
    color: var(--mainColor);
    text-decoration: none;
    font-weight: bold;
}

a:visited{
    color: var(--mainColor);
}

a:hover{
    color:var(--textColor);
}

/* Header*/

/* Header*/

.mainHeader{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    background-color: var(--mainColor);
    padding: 0 40px;
    
}

.mainLink:link{
    padding-top: 7px;
    padding-bottom: 13px;
    margin-right: auto;
    color: var(--textColor);
}


h1 {
    font-size: 2rem;
    color: var(--textColor);
}

.headerLink:link, .headerLink:visited{
    padding: 5px 10px;
    color: var(--textColor);
    margin-left: 20px;
    border-radius: 20px;
    
}

.headerLink:hover{
    color: var(--textColor);
}

.homepageHeaderLink:hover{
    background-color: var(--blueishDarkGray);
    color: var(--blueishWhite);
}

.techHeaderLink:hover{
    background-color: var(--blueishDarkGray);
    color: red;
}

.newsHeaderLink:hover{
    background-color: var(--blueishWhite);
    color: var(--aRed);
}

.gamesHeaderLink:hover{
    background-color: var(--blueishDarkGray);
    color: var(--gYellow);
}

.learnHeaderLink:hover{
    background-color: var(--blueishDarkGray);
    color: var(--lBlue);
}

.aboutHeaderLink:hover{
    background-color: var(--blueishDarkGray);
    color: var(--pGreen);
}

.content {
    margin: auto;
    width: 75%;
}

/* WIP Message */
.WIPMessage {
    padding: 5% 10%;
}

.WIPIcon{
    display: block;
    margin: auto;
    padding: 5%;

}

/* /// News List /// */

.newsList{
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    margin-top: 3%;
}

.newsCard{
    margin: 0 5%;
    background-color: var(--blueishDarkGray);
    padding: 30px;
    padding-top: 0;
}

.newsCardLink{
    display: inline-block;
    padding: 0%;
    margin: 15px 0;
}

.newsCardTitle{
    text-align: left;
    padding: 0%;
    margin: 0;
}

.newsCardContent{
    display: flex;
    align-items: center;
}

.newsCardImage{
    display: inline-block;
    padding: 0%;
    margin: 0%;
    width: 20%;
}

.newsCardDescription{
    display: inline-block;
    width: 60%;

    padding-left: 40px;
    margin: 0%;
}

/* Article */
.article{
    background-color: var(--contentBackgroundColor);
    margin: 20px 0;
    padding: 10px 0;
}

h2 {
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    margin: 20px 20px 20px 20px;
}

.authorImage{
    border-radius: 37.5px;
    display: block;
    margin: auto;
}

.author {
    font-size: 1.125rem;
    text-align: center;
}

.articleImage{
    display: block;
    margin: auto;
    width: 80%;
    height: auto;
    padding-bottom: 0;
}

.imageSource{
    font-size: 1em;
    font-style: italic;
    text-align: center;
    padding-top: 0;
}


p {
    font-size: 1.25rem;
    line-height: 2;
}

h4{
    padding-top: 40px;
}

/* Aside */
.aside{
    background-color: var(--contentBackgroundColor);
    border-top: 5px solid;
    border-bottom: 5px solid;
    border-color: var(--mainColor);
    margin: 20px 0;
    padding: 10px 0;
}

h3 {
    font-size: 1.5rem;
    font-weight: lighter;
}

.related{
    list-style: none;
}

.relatedAuthor {
    font-size: 1.125rem;
    font-weight: bold;
}

/* Footer*/
.copyright {
    font-size: 1rem;
    text-align: center;
}

.copyrightLink:link{
    color: var(--textColor);
    font-weight: 400;
}

.copyrightLink:visited{
    color: var(--textColor);
}

.copyrightLink:hover{
    color: var(--mainColor);
}