@import url(../styles/main.css);

:root{
    /* Dark mode */
    --backgroundColorDark: var(--darkGray);
    --textColorDark:var(--blueishWhite);
    --contentBackgroundColorDark: var(--blueishDarkGray);

    /* Light mode */
    --backgroundColorLight: var(--blueishWhite);
    --textColorLight:var(--darkGray);
    --contentBackgroundColorLight: var(--blueishWhite);

    /* Main colors */
    --mainColor: var(--tech);
    --textColor: var(--textColorDark);
    --backgroundColor: var(--backgroundColorDark);
    --contentBackgroundColor: var(--contentBackgroundColorDark);
}

/* Override header */

.mainLink:link, .mainLink:visited, .headerLink:link, .headerLink:visited{
    color: var(--textColor);
}

.techHeaderLink:hover{
    background-color: var(--textColor);
    color: var(--mainColor);
}