:root{
    /* Colors palette */
    --darkGray: rgb(11, 13, 15);
    --blueishDarkGray: rgb(25, 29, 33);
    --blueishWhite: rgb(250, 250, 255);
    --aRed: #d9103f;
    --gYellow: #f6e24b;
    --lBlue: #3fd9ef;
    --pGreen: #10d93f;


    /* Dark mode */
    --backgroundColorDark: var(--darkGray);
    --textColorDark:var(--blueishWhite);
    --contentBackgroundColorDark: var(--blueishDarkGray);

    /* Light mode */
    --backgroundColorLight: var(--blueishWhite);
    --textColorLight:var(--darkGray);
    --contentBackgroundColorLight: var(--blueishWhite);

    /* Main colors */

    --mainColor: var(--pGreen);
    --textColor: var(--textColorDark);
    --backgroundColor: var(--backgroundColorDark);
    --contentBackgroundColor: var(--contentBackgroundColorDark);
}

*{
    margin: 0;
    padding: 0;
}

/* Body */

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--backgroundColor);
    color: var(--textColor);
    margin: 0;
}

p, h3, h4, .sourceLink:link, .sourceLink:visited, ul{
    display: block;
    width: 85%;
    margin: 10px auto 25px auto;
    text-align: justify;
}

a:link{
    color: var(--mainColor);
    text-decoration: none;
    font-weight: bold;
}

a:visited{
    color: var(--mainColor);
}

a:hover{
    color:var(--textColor);
}

/* Header*/

.mainHeader{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    background-color: var(--mainColor);
    padding: 0 40px;
    
}

.mainLink:link{
    padding-top: 7px;
    padding-bottom: 13px;
    margin-right: auto;
    color: var(--textColor);
}


h1 {
    font-size: 2rem;
    color: var(--blueishDarkGray);
}

.headerLink:link, .headerLink:visited{
    padding: 5px 10px;
    color: var(--contentBackgroundColor);
    margin-left: 20px;
    border-radius: 20px;
    
}

.headerLink:hover{
    color: var(--textColor);
}

.homepageHeaderLink:hover{
    background-color: var(--blueishDarkGray);
    color: var(--blueishWhite);
}

.techHeaderLink:hover{
    background-color: var(--blueishDarkGray);
    color: red;
}

.newsHeaderLink:hover{
    background-color: var(--blueishDarkGray);
    color: var(--aRed);
}

.gamesHeaderLink:hover{
    background-color: var(--blueishDarkGray);
    color: var(--gYellow);
}

.learnHeaderLink:hover{
    background-color: var(--blueishDarkGray);
    color: var(--lBlue);
}

.aboutHeaderLink:hover{
    background-color: var(--blueishWhite);
    color: var(--pGreen);
}

.content {
    margin: auto;
    width: 75%;
}

/* WIP Message */
.WIPMessage {
    padding: 5% 10%;
    color: var(--blueishWhite);
}

.WIPIcon{
    display: block;
    margin: auto;
    padding: 5%;

}